@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}
<h1>About Pages</h1>
<p>This is my first custom page in Asp.Net Core MVC</p>
